fastapi
uvicorn
openai-whisper
soundfile
python-multipart
opentelemetry-api ==  1.37.0
opentelemetry-sdk == 1.37.0
opentelemetry-instrumentation-fastapi == 0.58b0
opentelemetry-instrumentation-requests == 0.58b0
opentelemetry-exporter-otlp==1.21.0

